<nav class="navbar">
  <div class="nav-logo">
    <a href="/">
      <img src="/images/logo.png" alt="Dance Org Logo" class="logo" />
    </a>
  </div>
  <ul class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/courses">Courses</a></li>
  </ul>
</nav>
