<!DOCTYPE html>
<html>
<head>
  <title> Booking Confirmation </title>
  <link rel="stylesheet" href="/styles/navbar.css">
  <link rel="stylesheet" href="/styles/confirmation.css">
</head>
<body>
{{> partials/navbar}}
<h1>{{message}}</h1>
<p>Thanks for enrolling in {{courseName}}!</p>
<p>We’ve sent a confirmation to {{email}}.</p>
<a href="/courses">Back to Courses</a>
</body>
</html>
