<!DOCTYPE html>
<head>
  <title>Modern Movement Home</title>
  <link rel="stylesheet" href="/styles/home.css" />
</head>
<body>
  <div class="container">
    <h1>Welcome to Modern Movement</h1>
    <p>We are an inclusive dance community offering dance courses &amp; classes at different levels and styles. 
       Currently, we have weekly classes and weekend workshops.</p>
    
    <h2>Classes</h2>
    <ul>
      <li>Beginner Salsa</li>
      <li>Breakdance Basics</li>
      <li>Ballet Foundations</li>
      <li>Time to Tap</li>
    </ul>

    <h2>Location</h2>
    <div class="location">
      <p>Address: 55 Walkway Lane, WestEnd K76 HH77</p>
      <ul>
        <li>Studio A</li>
        <li>Studio B</li>
        <li>Studio C</li>
        <li>Studio D</li>
      </ul>
    </div>

    <p>Check out our current schedule &amp; available 
    <a class="classes-button" href="/courses">View Courses</a>
  </div>
</body>
</html>